p{
    font-size: 36px;
    font-family: fantasy;
    text-transform: uppercase;
}

img{
    width: 190px;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    border: 3px dashed black;
    background-color: rgba(127, 255, 212, 0.418);
    
    
}