@import '@angular/material/prebuilt-themes/indigo-pink.css';

main{
    width: 600px;
    margin: auto;
    position: relative;
    height: 90%;

}

button{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

mat-expansion-panel{
    margin-bottom: 8px;
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.conteiner{
    width: 250px;
    height: 100px;
    border-radius: 8px;
    margin: 8px;
    display: flex;
    align-items: center;
    background-color: #b3c4fe;
    padding: 4px;
    gap: 4px;
}

.pendentes{
    background-color: rgba(228, 195, 48, 0.808);
}

.concluido{
    background-color: aqua;
}

.fazendo{
    background-color: bisque;
}

.title{
    margin-bottom: 24px;
    margin-top: 24px;
}