<main>
  <section>
    <h2 class="container mat-elevation-z8 total">
      <mat-icon>format_list_bulleted</mat-icon>
      Total de Tarefas: {{totalDeTarefas}}
    </h2>
    <h2 class="container mat-elevation-z8 total pendentes">
      <mat-icon>schedule</mat-icon>
      Pendentes: {{totalDePendentes}}
    </h2>
    <h2 class="container mat-elevation-z8 total Concluido">
      <mat-icon>schedule</mat-icon>
      Concluido: {{totalDeConcluido}}
    </h2>
    <h2 class="container mat-elevation-z8 total Fazendo">
      <mat-icon>schedule</mat-icon>
      Fazendo: {{totalDeAFazer}}
    </h2>
  </section>
  <h2 class="title">
    olá, professor 👋.
  </h2>
  <div *ngFor="let tarefa of tarefas">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>{{ tarefa.name }}</h2>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h3>{{ tarefa.descricao }}</h3>
      <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option (click)="alterarSituacao(tarefa, 'Pendente')" selected>A Fazer</mat-chip-option>
        <mat-chip-option (click)="alterarSituacao(tarefa, 'Fazendo')">Fazendo</mat-chip-option>
        <mat-chip-option (click)="alterarSituacao(tarefa, 'Concluido')">Concluido</mat-chip-option>
      </mat-chip-listbox>
    </mat-expansion-panel>
  </div>
  <button (click)="openDialog()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</main>