@import '@angular/material/prebuilt-themes/indigo-pink.css';

main{
    width: 600px;
    margin: auto;
    position: relative;
    height: 90%;

}

button{
    position: absolute;
    bottom: 15px;
    right: 15px;
}