<h2 mat-dialog-title>adicionar tarefa</h2>

<mat-dialog-content>
    <form (ngSubmit)="adicionarTarefa()">
        <mat-form-field appearance="fill">
            <mat-label>nome:</mat-label>
            <input matInput [(ngModel)]="novaTarefa.name" name="name" type="text">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>descrição:</mat-label>
            <input matInput [(ngModel)]="novaTarefa.descricao" name="descricao" type="text">
        </mat-form-field>
            <button mat-raised-button color="primary" type="submit">adicionar tarefa</button>
    </form>
</mat-dialog-content>


<mat-dialog-actions>
    <button (click)="fechar()" mat-button>fechar</button>
</mat-dialog-actions>


